Fakebook Project/Fakebook/App_WebReferences/ServiceReference1/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CheckValidCreditCardInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ownerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationMonth" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationYear" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="cvv" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckValidCreditCardInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckValidCreditCardInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsEnoughMoney">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ownerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amountToPay" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsEnoughMoneyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsEnoughMoneyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuyItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ownerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="amountToPay" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuyItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuyItemResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckValidCreditCardInfoSoapIn">
    <wsdl:part name="parameters" element="tns:CheckValidCreditCardInfo" />
  </wsdl:message>
  <wsdl:message name="CheckValidCreditCardInfoSoapOut">
    <wsdl:part name="parameters" element="tns:CheckValidCreditCardInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IsEnoughMoneySoapIn">
    <wsdl:part name="parameters" element="tns:IsEnoughMoney" />
  </wsdl:message>
  <wsdl:message name="IsEnoughMoneySoapOut">
    <wsdl:part name="parameters" element="tns:IsEnoughMoneyResponse" />
  </wsdl:message>
  <wsdl:message name="BuyItemSoapIn">
    <wsdl:part name="parameters" element="tns:BuyItem" />
  </wsdl:message>
  <wsdl:message name="BuyItemSoapOut">
    <wsdl:part name="parameters" element="tns:BuyItemResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="CheckValidCreditCardInfo">
      <wsdl:input message="tns:CheckValidCreditCardInfoSoapIn" />
      <wsdl:output message="tns:CheckValidCreditCardInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsEnoughMoney">
      <wsdl:input message="tns:IsEnoughMoneySoapIn" />
      <wsdl:output message="tns:IsEnoughMoneySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuyItem">
      <wsdl:input message="tns:BuyItemSoapIn" />
      <wsdl:output message="tns:BuyItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckValidCreditCardInfo">
      <soap:operation soapAction="http://tempuri.org/CheckValidCreditCardInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEnoughMoney">
      <soap:operation soapAction="http://tempuri.org/IsEnoughMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyItem">
      <soap:operation soapAction="http://tempuri.org/BuyItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckValidCreditCardInfo">
      <soap12:operation soapAction="http://tempuri.org/CheckValidCreditCardInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEnoughMoney">
      <soap12:operation soapAction="http://tempuri.org/IsEnoughMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyItem">
      <soap12:operation soapAction="http://tempuri.org/BuyItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:61116/FakebookWebService/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:61116/FakebookWebService/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>